# See https://www.toptal.com/developers/gitignore/api/react,vite

node_modules
.env.local
.env.development.local
.env.production.local
.env.test.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids*
*.log
*.pid

# Runtime data
pids
*.pid
*.seed
*.log
*.db
*.sqlite
*.db-journal

# Editor directories and files
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.userprefs
*.vs
*.vscode
.idea

# IDEs
# Eclipse
.metadata
.plugins

# IntelliJ IDEA
*.iml
out

# Visual Studio Code
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# npm
.npmrc
package-lock.json

# Tests
coverage
test-results.xml

# Vite
.cache
dist
build

# General
.env
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Vite
# Vite's build cache
.cache

# Vite's development server
dist
